:root {
    --custom-grey: #989898;
    --tamarindo: #c4745b;
  }
  
  /*=================================================
                SECTION - FLOWER
  =================================================*/
  .section-flower {
    height: 300px;
    padding: 25px;
  }
  
  .section-flower div {
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .section-flower div img {
    height: 100%;
    object-fit: cover;
  }
  
  /*=================================================
                  SECTION - PHRASE
  =================================================*/
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .text h2 {
    font-size: small;
  }
  
  .text h2 span {
    font-weight: 700;
  }
  
  .paragraph {
    height: 30px;
  }
  