/*================================================
				SECTION - CAROUSELS
=================================================*/
.section-carousel .row {
  display: flex;
}

.container-carousel {
  height: 500px;
  justify-content: center;
  display: flex;
  gap: 5px;
}

#carousel {
  transition: opacity 0.5s;
}

/*=================================================
				SECTION - PHRASE
=================================================*/
.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.phrase h2 span {
  font-weight: 700;
}

/*=================================================
				SECTION - FLOWER
=================================================*/
.section-flower {
  background-color: white;
  height: 200px;
}

.flower {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flower img {
  margin: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}
