@import "colors.css";

/*================================================
				SECTION - CAROUSELS
=================================================*/
.section-carousel .row {
  display: flex;
}

.container-carousel {
  height: 500px;
  justify-content: center;
  display: flex;
  gap: 5px;
}

#carousel {
  transition: opacity 2s;
}

/*=================================================
				SECTION - PHRASE
=================================================*/
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--custom-grey);
}

.text h3 {
  font-size: 22px
}

.text span {
  color: var(--custom-grey-bold);
}

/*=================================================
				SECTION - FLOWER
=================================================*/
.section-flower {
  height: 200px;
}

.flower {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flower img {
  margin: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}
