@import "colors.css";

/*=================================================
				        SECTION - SELFIE
=================================================*/
.section-selfie {
  height: 300px;
  padding: 25px;
}

.section-selfie div {
  display: flex;
  justify-content: center;
  height: 100%;
}

.section-selfie div img {
  height: 100%;
  object-fit: cover;
}

/*=================================================
				        SECTION - HEART
=================================================*/
.section-heart {
  padding: 25px;
}

.section-heart div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-heart div img {
  width: 5%;
  height: auto;
}

/*=================================================
			          	SECTION - PHRASE
=================================================*/
.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.phrase p {
  color: var(--custom-grey);
}

.phrase p span {
  color: var(--custom-grey-bold);
}

.paragraph {
  height: 30px;
}
