@font-face {
  font-family: Aerotis;
  src: url("../fonts/Aerotis/Aerotis.ttf");
}

:root {
  --custom-grey: #989898;
  --tamarindo: #c4745b;
}

body {
  overflow-x: hidden;
}

section {
  font-family: "Montserrat";
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.row,
.col {
  height: 100%;
}

/*================================================
					HEADER
=================================================*/
header {
  height: 100px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}

header nav {
  color: var(--custom-grey);
  text-decoration: none;
  text-decoration-color: var(--custom-grey);
  font-family: "Montserrat";
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: var(--custom-grey);
  transition: all 0.3s ease 0s;
  justify-self: flex-end;
}

nav li a:hover {
  font-weight: 700;
  color: var(--tamarindo);
}

/*================================================
				SECTION - CAROUSELS
=================================================*/
.container-carousel {
  height: 500px;
  justify-content: center;
  display: flex;  
  gap: 5px;
}

#carousel {  
  transition: opacity 0.5s;
}

.container-carousel:hover {
  opacity: 0;
}

.section-carousel .row {
  height: 500px;
  display: flex;
}

button {
  height: 10%;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 1em;
  display: flex;
}

button .arrow {
  border: solid #fff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 10px;
  transition: transform 0.3s ease-out;
  outline: none;
}

/*=================================================
				SECTION - PHRASE
=================================================*/
.section-phrase .row {
  background-color: white;
  height: 200px;
}

.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phrase h2 {
  font-size: large;
  font-weight: 400;
  text-align: center;
}

.phrase h2 span {
  font-weight: 700;
}

/*=================================================
				SECTION - FLOWER
=================================================*/
.section-flower {
  background-color: white;
  height: 300px;
}

.flower {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flower img {
  margin: auto;
  height: 50%;
  object-fit: cover;
  display: block;
}

/*=================================================
					FOOTER
=================================================*/
footer {
  text-align: center;
}
