:root {
  --custom-grey: #989898;
  --tamarindo: #c4745b;
}

@font-face {
  font-family: Aerotis;
  src: url("../fonts/Aerotis/Aerotis.ttf");
}

body {
  overflow-x: hidden;
}

section {
  font-family: "Montserrat";
  margin-bottom: 50px;
  border: 0px;
  padding: 0px;
}

.row,
.col {
  height: 100%;
}

/*================================================
					HEADER
=================================================*/
header {
  height: 100px;
  display: flex;
  padding: 0px 20px;
  align-items: center;
  justify-content: center;
}

header nav {
  color: var(--custom-grey);
  text-decoration: none;
  font-family: "Montserrat";
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  text-decoration: none;
  color: var(--custom-grey);
  transition: all 0.3s ease 0s;
  justify-self: flex-end;
}

nav li a:hover {
  font-weight: 700;
  color: var(--tamarindo);
}

/*================================================
				SECTION - CAROUSELS
=================================================*/
.section-carousel .row {
  display: flex;
}

.container-carousel {
  height: 500px;
  justify-content: center;
  display: flex;
  gap: 5px;
}

#carousel {
  transition: opacity 0.5s;
}

/*=================================================
				SECTION - PHRASE
=================================================*/
.phrase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.phrase h2 span {
  font-weight: 700;
}

.paragraph {
  height: 30px;
}

/*=================================================
				SECTION - FLOWER
=================================================*/
.section-flower {
  background-color: white;
  height: 200px;
}

.flower {
  display: flex;
  justify-content: center;
  height: 100%;
}

.flower img {
  margin: auto;
  height: 100%;
  object-fit: cover;
  display: block;
}

/*=================================================
					FOOTER
=================================================*/
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer .link-insta {
  margin-bottom: 5px;
}

footer div a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--custom-grey);
}

footer div a:hover {
  color: var(--tamarindo);
}

footer iframe {
  max-width: 20%;
}
